<div *ngIf="studentData">
    <div class="wrapper">


        <div class="main_content">
            <div class="header">
                Welcome <strong>{{studentData.name}} </strong> !! Have a nice day.
                <div style="float:right">
                    <button class="btn btn-dark btn-sm" (click)="logout()"><i
                            class="fas fa-sign-out-alt">Logout</i></button>
                    <button class="btn btn-dark btn-sm">
                        <a [routerLink]="['/student/display-books']"><i class="fas  fa-book"> Show Books</i>
                        </a>
                    </button>
                    <button class="btn btn-dark btn-sm">
                        <a [routerLink]="['/update-password/' + studentData.email +'/student']"><i class="fas  fa-key">
                                Update
                                Password</i>
                        </a>
                    </button>
                    <button class="btn btn-dark btn-sm">
                        <a routerLink="/upload-image"><i class="fas fa-image"> Upload Image</i></a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- details regarding registration   -->
    <div class="header">
        <h1>Registration Details</h1>
    </div>
    <div class="info">
        <table id="customers">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>State</th>
                <!-- <th>Total Fine</th> -->


            </tr>


            <tr>
                <td>{{studentData.name}} </td>
                <td>{{studentData.email}} </td>
                <td>{{studentData.phone}} </td>
                <td>{{studentData.state}} </td>
                <!-- <td class="text-danger"><strong>Rs {{studentData.fine}} </strong></td> -->

            </tr>
        </table>
    </div>
    <br />

    <app-display-issuedbooks></app-display-issuedbooks>
    <br />
    <!-- <app-view-transactions></app-view-transactions>
    <br />
    <app-fine-history></app-fine-history>
    <br /> -->

</div>