<div *ngIf="is_render && fineData">
    <form (submit)="payFine()">
        <div class="container">
            <h1>Pay Fine</h1>
            <p>Total fine for <strong> {{fineData.email|uppercase}}</strong> is: <strong class="text-danger">Rs
                    {{fineData.fine}}</strong></p>
            <hr />

            <label for="email"><i class="fa fa-envelope"></i> <strong>User Id</strong></label>
            <input type="email" [(ngModel)]="fineData.email" [disabled]="true" name="fineData.email"
                placeholder="Enter Your Email" required />

            <label for="book_fine"><i class="fas fa-rupee-sign"></i><strong>Paying For</strong></label>
            <select [(ngModel)]="book_id" name="book_id" required>
                <option value="" disabled selected>Select BOOK</option>
                <option *ngFor="let finedetail of finehistory" value={{finedetail.fine}}>Book id:{{finedetail.book_id}},
                    Fine: <strong class="text-danger">Rs:{{finedetail.fine}}</strong></option>

            </select>

            <label for="amount"><i class="fas fa-rupee-sign"></i><strong>Amount </strong></label>

            <input type="number" [(ngModel)]="fineAmount" name="fineAmount" placeholder="Enter Amount to be paid"
                required />

            <label for="purpose"><strong>Purpose</strong></label>
            <input type="textarea" [(ngModel)]="finePurpose" name="finePurpose" placeholder="Enter Purpose For the fine"
                required />
            <hr />

            <button type="submit" class="loginbtn">
                Pay
            </button>

        </div>
    </form>
</div>