<div *ngIf="is_render">
    <div *ngIf="issuedBook">

        <div class="main_content">
            <!-- displaying issued book data  -->
            <div class="header">
                <h1>Book</h1>
            </div>

            <div class="info">
                <table id="customers">
                    <tr>
                        <th>Id</th>
                        <th>Issued By</th>
                        <th>Issue Date</th>
                        <th>Return Date</th>
                        <th>Fine</th>
                        <th>Action</th>
                    </tr>

                    <tr>
                        <td>{{issuedBook.book_id}} </td>
                        <td>{{issuedBook.issue_by}} </td>
                        <td>{{issuedBook.issue_date}} </td>
                        <td>{{issuedBook.return_date}} </td>
                        <td class="text-danger">
                            Rs. {{issuedBook.fine}}
                        </td>
                        <td>
                            <button class="btn btn-success"
                                (click)="returnBook(issuedBook.book_id,issuedBook.issue_by,issuedBook.issue_date,issuedBook.return_date,issuedBook.fine)">Return</button>
                        </td>
                    </tr>

                </table>
            </div>
            <br /><br />
            <button class="btn btn-info btn-sm">
                <a routerLink="/librarian/dashboard">Go to Dashboard</a>
            </button>
        </div>

    </div>