<div *ngIf="users.length">


    <!-- displaying student data  -->
    <div class="header">
        <h1>Student List</h1>
    </div>

    <div class="info">
        <table id="customers">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>State</th>

                <th>Action</th>
            </tr>



            <tr *ngFor="let student of students">
                <td>{{student.name}} </td>
                <td>{{student.email}} </td>
                <td>{{student.phone}} </td>
                <td>{{student.state}} </td>

                <td>
                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-success btn-sm"><a
                                    [routerLink]="['/update-student/' + student.email +'/'+student]"><i
                                        class="fa fa-edit"></i></a></button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-success btn-sm"><a
                                    [routerLink]="['/update-student-password/' + student.email +'/'+student]"><i
                                        class="fa fa-key"></i></a></button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-danger btn-sm" (click)="deleteUser('student',student.email)"><i
                                    class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </td>

            </tr>

        </table>
    </div>

    <!-- displaying Librarian  data   -->
    <div class="header">
        <h1>Librarian List</h1>
    </div>

    <div class="info">
        <table id="customers">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>State</th>

                <th>Action</th>
            </tr>


            <tr *ngFor="let librarian of librarians">
                <td>{{librarian.name}} </td>
                <td>{{librarian.email}} </td>
                <td>{{librarian.phone}} </td>
                <td>{{librarian.state}} </td>

                <td>
                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-success btn-sm"><a
                                    [routerLink]="['/update-librarian/'+librarian.email +'/'+librarian]"><i
                                        class="fa fa-edit"></i></a></button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-success btn-sm"><a
                                    [routerLink]="['/update-librarian-password/' + librarian.email+'/'+librarian]"><i
                                        class="fa fa-key"></i></a></button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-danger btn-sm" (click)="deleteUser('librarian',librarian.email)"><i
                                    class="fa fa-trash"></i></button>
                        </div>
                    </div>


                </td>

            </tr>


        </table>
    </div>

    <!-- displaying Admin data   -->
    <div class="header">
        <h1>Admin List</h1>
    </div>

    <div class="info">
        <table id="customers">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>

                <th>Action</th>
            </tr>

            <tr *ngFor="let admin of admins">

                <td>{{admin.name}}</td>
                <td>{{admin.email}} </td>
                <td>{{admin.phone}} </td>
                <td>

                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-success btn-sm"><a
                                    [routerLink]="['/admin/update-admin/' +admin.email +'/'+admin]"><i
                                        class="fa fa-edit"></i></a></button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-success btn-sm"><a
                                    [routerLink]="['/admin/update-admin-password/' + admin.email+'/'+admin]"><i
                                        class="fa fa-key"></i></a></button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-danger btn-sm" (click)="deleteUser('admin',admin.email)"><i
                                    class="fa fa-trash"></i></button>
                        </div>
                    </div>

                </td>

            </tr>

        </table>
    </div>
</div>