<div *ngIf="render">
    <form (submit)="resetPassword()">
        <div class="container">
            <h1>Reset Password</h1>
            <p>Please fill in this form to reset your password</p>
            <hr />
            <label for="password"><i class="fa fa-key"></i><strong>New Password</strong></label>

            <input type="password" [(ngModel)]="password" name="password" placeholder="Enter New Password" required />

            <label for="password"><i class="fa fa-key"></i><strong>Confirm New Password</strong></label>

            <input type="password" [(ngModel)]="cpassword" name="password" placeholder="Confirm  Password" required />
            <hr />

            <button type="submit" class="loginbtn">
                Reset Password
            </button>
        </div>
    </form>
    <div>