<div *ngIf="librarianData">
    <div class="wrapper">


        <div class="main_content">
            <div class="header">
                Welcome <strong>{{librarianData.name}} </strong> !! Have a nice day.
                <button class="btn btn-info btn-sm" (click)="logout()">Logout</button>
                <button class="btn btn-info btn-sm">
                    <a routerLink="/librarian/add-book"><i class="fas fa-book">Add Book</i></a>
                </button>
                <button class="btn btn-info btn-sm">
                    <a [routerLink]="['/librarian/display-books']"><i class="fas  fa-book">Show Books</i>
                    </a>
                </button>
                <button class="btn btn-info btn-sm">
                    <a [routerLink]="['/update-librarian-password/' + librarianData.email +'/librarian']"><i
                            class="fas  fa-key">Update
                            Password</i>
                    </a>
                </button>
                <button class="btn btn-info btn-sm">
                    <a routerLink="/upload-image"><i class="fas fa-image">Upload Image</i></a>
                </button>
            </div>
        </div>
    </div>

    <!-- details regarding registration   -->
    <div class="header">
        <h1>Registration Details</h1>
    </div>
    <div class="info">
        <table id="customers">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>State</th>


            </tr>


            <tr>
                <td>{{librarianData.name}} </td>
                <td>{{librarianData.email}} </td>
                <td>{{librarianData.phone}} </td>
                <td>{{librarianData.state}} </td>

            </tr>
        </table>
    </div>
</div>