<div *ngIf="adminData">
    <div class="wrapper">


        <div class="main_content">
            <div class="header">
                Welcome <strong>{{ adminData.name }} </strong> !! Have a nice day.
                <button class="btn btn-dark btn-sm" (click)="logout()">Logout</button>
                <button class="btn btn-dark btn-sm">
                    <a routerLink="/admin/user-registration">Registration</a>
                </button>
                <button class="btn btn-dark btn-sm">
                    <a routerLink="/admin/display-user">Show Users</a>
                </button>
                <button class="btn btn-dark btn-sm">
                    <a routerLink="/admin/bulk-user-upload">Bulk Upload</a>
                </button>


                <button class="btn btn-dark btn-sm">
                    <a routerLink="/upload-image"><i class="fas fa-image"> Upload Image</i></a>
                </button>
            </div>
        </div>
    </div>
    <!-- details regarding registration   -->
    <app-registration-details></app-registration-details>

</div>