<div class="wrapper">


    <div class="main_content">
        <div class="header">
            Welcome <strong>Rajnish Patel </strong> !! Have a nice day.
            <!-- <button (click)="logout()">Logout</button> -->
            <button>
                <a routerLink="/admin/patient-registration">Register Patient</a>
            </button>
            <button>
                <a routerLink="/admin/doctor-registration">Register Doctor</a>
            </button>
            <button>
                <a routerLink="/admin/admin-registration">Register Admin</a>
            </button>
            <button>
                <a routerLink="/admin/appointment-requests">Appointment Request</a>
            </button>
            <button>
                <a routerLink="/admin/job-application">Job Application</a>
            </button>
            <button>
                <a routerLink="/upload-image"><i class="fas fa-image">Upload Image</i></a>
            </button>
        </div>
    </div>
</div>