<div *ngIf="adminData">
    <div class="wrapper">


        <div class="main_content">
            <div class="header">
                Welcome <strong>{{ adminData.name }} </strong> !! Have a nice day.
                <div style="float:right">
                    <button class="btn btn-dark btn-sm" (click)="logout()">
                        <i class="fas fa-sign-out-alt">Logout</i></button>
                    <button class="btn btn-dark btn-sm">
                        <a routerLink="/admin/user-registration"><i class="fas fa-registered">Registration</i></a>
                    </button>

                    <button class="btn btn-dark btn-sm">
                        <a routerLink="/admin/bulk-user-upload"><i class="fas-solid fa-upload">Bulk Upload</i></a>
                    </button>


                    <button class="btn btn-dark btn-sm">
                        <a routerLink="/upload-image"><i class="fas fa-image"> Upload Image</i></a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- details regarding registration   -->
    <app-registration-details></app-registration-details>

</div>