<div *ngIf="books">
    <div class="wrapper">
        <div class="main_content">
            <!-- displaying Books  -->
            <div class="header">
                <h1>Books</h1>
            </div>

            <div class="info">
                <table id="customers">
                    <tr>
                        <th>Title</th>
                        <th>Name</th>
                        <th>Publisher</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th *ngIf="role">Total Copies</th>
                        <th *ngIf="role">Available Copies</th>
                        <th>Action</th>
                    </tr>



                    <tr *ngFor="let book of books">
                        <td>{{book.bk_title}} </td>
                        <td>{{book.bk_name}} </td>
                        <td>{{book.publisher}} </td>
                        <td>{{book.author}} </td>
                        <td>{{book.bk_category}} </td>
                        <td *ngIf="role">{{book.bk_copies}}</td>
                        <td *ngIf="role">{{book.available_copies}}</td>
                        <td>
                            <div *ngIf="!role">
                                <button class="btn btn-success" (click)="issueBook(book.book_id)">Issue</button>
                            </div>
                            <div *ngIf="role">

                                <button class="btn btn-success btn-sm mr-2" (click)="viewBook(book.book_id)"><i
                                        class="fa fa-eye"></i></button>
                                <button class="btn btn-success btn-sm" (click)="updateBook(book.book_id)"><i
                                        class="fa fa-edit"></i></button>


                            </div>

                        </td>

                    </tr>

                </table>
            </div>
            <button class="btn btn-info" (click)="goBack()"><i class="fa fa-backward"> Back </i></button>

        </div>

    </div>
</div>