<div *ngIf="issuedBooks.length">

    <div class="main_content">
        <!-- displaying issued book data  -->
        <div class="header">
            <h1>Books Issued</h1>
        </div>

        <div class="info">
            <table id="customers">
                <tr>
                    <th>Id</th>
                    <th>Issued By</th>
                    <th>Issue Date</th>
                    <th>Return Date</th>
                    <th>Fine</th>
                </tr>

                <tr *ngFor="let book of issuedBooks">
                    <td>{{book.book_id}} </td>
                    <td>{{book.issue_by}} </td>
                    <td>{{book.issue_date}} </td>
                    <td>{{book.return_date}} </td>
                    <td class="text-danger"><strong>Rs. {{book.fine}}</strong> </td>
                </tr>

            </table>
        </div>
    </div>

</div>